<div id="rulings">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="font-light">Previous Rulings</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="artist">
          <img class="photo" src="/assets/images/artists/kany-west.jpg" alt="keny" width="100%" height="auto">
          <div class="cont-info">
            <div class="cont-info-detail">
              <div class="cont-name">
                <a href="#" class="btn-like"><i class="fa fa-thumbs-up"></i></a>
                <p class="name">Kanye West</p>
              </div>
              <div class="clear"></div>
              <div class="cont-data">
                <p class="desc">Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
                <div class="cont-other-info">
                  <a href="#" class="btn-view-full ">View Full Report</a>
                  <p class="">1 month ago <br>in Entretainment</p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="cont-percent">
                <div class="percent-like" style="flex: 1 1 64%;">
                  <p><i class="fa fa-thumbs-up"></i> 64%</p>
                </div>
                <div class="percent-dislike" style="flex: 1 1 36%;">
                  <p><i class="fa fa-thumbs-down"></i> 36%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="artist">
          <img class="photo" src="/assets/images/artists/mark.jpg" alt="mark" width="100%" height="auto">
          <div class="cont-info">
            <div class="cont-info-detail">
              <div class="cont-name">
                <a href="#" class="btn-like"><i class="fa fa-thumbs-up"></i></a>
                <p class="name">Mark Zuckerberg</p>
              </div>
              <div class="clear"></div>
              <div class="cont-data">
                <p class="desc">Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
                <div class="cont-other-info">
                  <a href="#" class="btn-view-full ">View Full Report</a>
                  <p class="">1 month ago <br>in Entretainment</p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="cont-percent">
                <div class="percent-like" style="flex: 1 1 36%;">
                  <p><i class="fa fa-thumbs-up"></i> 36%</p>
                </div>
                <div class="percent-dislike" style="flex: 1 1 64%;">
                  <p><i class="fa fa-thumbs-down"></i> 64%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="artist">
          <img class="photo" src="/assets/images/artists/cristina.jpg" alt="Cristina Fernández de Kirchner" width="100%" height="auto">
          <div class="cont-info">
            <div class="cont-info-detail">
              <div class="cont-name">
                <a href="#" class="btn-like"><i class="fa fa-thumbs-up"></i></a>
                <p class="name">Cristina Fernández de Kirchner</p>
              </div>
              <div class="clear"></div>
              <div class="cont-data">
                <p class="desc">Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
                <div class="cont-other-info">
                  <a href="#" class="btn-view-full ">View Full Report</a>
                  <p class="">1 month ago <br>in Entretainment</p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="cont-percent">
                <div class="percent-like" style="flex: 1 1 36%;">
                  <p><i class="fa fa-thumbs-up"></i> 36%</p>
                </div>
                <div class="percent-dislike" style="flex: 1 1 64%;">
                  <p><i class="fa fa-thumbs-down"></i> 64%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="artist">
          <img class="photo" src="/assets/images/artists/malala.jpg" alt="malala" width="100%" height="auto">
          <div class="cont-info">
            <div class="cont-info-detail">
              <div class="cont-name">
                <a href="#" class="btn-like"><i class="fa fa-thumbs-up"></i></a>
                <p class="name">Malala Yousafzai</p>
              </div>
              <div class="clear"></div>
              <div class="cont-data">
                <p class="desc">Vestibulum diam ante, porttitor a odio eget, rhoncus neque. Aenean eu velit libero.</p>
                <div class="cont-other-info">
                  <a href="#" class="btn-view-full ">View Full Report</a>
                  <p class="">1 month ago <br>in Entretainment</p>
                </div>
              </div>
              <div class="clear"></div>
              <div class="cont-percent">
                <div class="percent-like" style="flex: 1 1 36%;">
                  <p><i class="fa fa-thumbs-up"></i> 36%</p>
                </div>
                <div class="percent-dislike" style="flex: 1 1 64%;">
                  <p><i class="fa fa-thumbs-down"></i> 64%</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
