<div id="banner">
  <div class="container-img">
    <img src="/assets/images/banner/pope.jpg" class="img-p" width="100%" height="auto" alt="pope">
  </div>
  <div class="container container-text-box">
    <div class="row">
      <div class="col-12 col-sm-12 col-lg-6">
        <div class="cont-p">
          <div class="cont-box">
            <p class="txt-1 font-light">What’s your opinion on</p>
            <p class="txt-2">Pope Francis?</p>
            <p class="txt-3 font-light">
              He’s talking tough on clergy sexual abuse, but is he just another papal pervert protector? (thumbs down) or a true pedophile punishing pontiff? (thumbs up)
            </p>
            <div class="cont-link">
              <img src="/assets/images/logo-wiki.png" alt="wikipedia">
              <a href="#" class="font-light">More information</a>
            </div>
            <p class="txt-3 font-bold">What’s Your Verdict?</p>
          </div>
          <div class="cont-vote">
            <div class="cont-like">
              <i class="fa fa-thumbs-up"></i>
            </div>
            <div class="cont-dislike">
              <i class="fa fa-thumbs-down"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6"></div>
    </div>
  </div>
</div>
<div id="cont-clossing">
  <div class="clossing">
    <p>CLOSSING IN</p>
  </div>
  <div class="days">
    <p>22 <span class="font-light">days</span></p>
  </div>
</div>
